body{
    background-image : url(../img/bg.jpg);
}

.wrapper {
    width  : 768px;
    height : 768px;
}

.tile {
    width: 30%;
    float  : left;

    background-color: #FFF;
    border-radius: 5px;
}

.tile.border-right,
.grid.border-right{
    margin-right: 0;
}

.tile.border-bottom,
.grid.border-bottom{
    margin-bottom: 0;
}

.grid{
    width: 33%;
    float: left;
}

/*.last-right{
    margin-right: 0;
}

.last-bottom{
    margin-bottom: 0;
}*/