body{
    background-image : url(../img/bg.jpg);
    font-family: 'Futura', Arial, sans-serif;
}

*{
-webkit-touch-callout: none;
-webkit-user-select: none;
}

/*Layout*/

.wrapper {
    width  : 768px;
    height : 768px;
    margin : auto;
}

.board{
    position: relative;
}

.grid{
    width: 33%;
    float: left;
}

.tile{
    width: 30%;
    float  : left;
}

.tile.border-right,
.grid.border-right{
    margin-right: 0;
}

.tile.border-bottom,
.grid.border-bottom{
    margin-bottom: 0;
}

.tile .label{
    font-size: 51px;
    margin-left: 19px;
}

.input-panel{
    position: absolute;
}

.input-panel{
    margin-top: -3px;
    padding: 5px 10px 5px 50px;

    display: none;
}

.input-panel.left{
    margin-left: -61px;
}

.input-panel.center-left{
    margin-left: -233px;
    padding: 5px 10px 5px 10px;
}

.input-panel.center-left .input-3{
    margin-right: 50px;
}

.input-panel.center-right{
    margin-left: -396px;
    padding: 5px 10px 5px 10px;
}

.input-panel.center-right .input-6{
    margin-right: 50px;
}

.input-panel.right{
    padding: 5px 50px 5px 10px;
    margin-left: -557px;
}

.input-tile{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
}

.input-tile .label{
    margin: 2px 0 0 15px;
}



/*Skin*/

.tile{
    cursor: pointer;

    background-color: rgba(255,255,255,0.8);

    border-radius: 5px;
    opacity : 1;
}

.tile.inactive{
    background-color: #ffffff;
    opacity: 0;
}

.tile .label{
    color: #023781;
    pointer-events: none;
}

/*Mask Tile*/

.mask{
    pointer-events: none;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9),inset -1px 0 0 0 rgba(255,255,255,0.05),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 1px 0 0 0 rgba(0,0,0,0.05), 0 0 0 2px rgba(0,0,0,.3);
}

.mask.inactive{
    border-radius: 50px;
    background-color: red;
    box-shadow: none;
}

/*User Tiles*/
.user-unsolved{
    border-radius: 50px;
    background-color: rgba(255,255,255,.1);
}

.user-unsolved .label{
    color: transparent;
}

/*Input*/
.input-panel{
    background-color: rgba(0,0,0,.85);
    border-radius: 50px;
}

.input-tile{
    /*background-color: rgba(255,255,255,.9);*/
    cursor: pointer;
    border-radius: 50px;
}

.input-tile .label{
    font-size: 35px;
    margin-left: 19px;

    color: #FFFFFF;
    pointer-events: none;
}
